{% extends "_base.jinja" %}
{% block content %}
    <main id="zones" class="grid gap-4 p-4 grid-flow-row grid-cols-3 max-md:grid-cols-2 justify-items-center">
    </main>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='index.js') }}" type="module" defer></script>
{% endblock scripts %}