{% extends "_base.jinja" %}
{% block content %}
    <main id="zones" class="grid gap-4 p-4 grid-flow-row grid-cols-3 max-sm:grid-cols-1 max-md:grid-cols-2 justify-items-center">
        <p class="col-span-3 my-auto text-slate-700">
            Enter a valid Hetzner DNS API key to see your zones.
        </p>
    </main>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
{% endblock scripts %}