{% extends "_base.jinja" %}
{% block content %}
    <main class="grid gap-4 p-4 grid-flow-row grid-cols-3 justify-items-center">
        <a href="/record" class="bg-slate-100 transition shadow-md shadow-slate-300 hover:shadow-slate-400 grid grid-cols-[1fr_auto] w-full max-w-sm">
            <h2 class="text-xl bg-red-600 text-white font-mono p-4 col-span-full">
                example.com
            </h2>
            <div class="grid grid-cols-subgrid p-2 col-span-2 gap-2">
                <div class="w-full my-auto border-r border-slate-400">
                    <span class="block text-center text-5xl">
                        17
                    </span>
                    <span class="block text-center text-xl">
                        records
                    </span>
                </div>
                <table class="ml-4">
                    <tr class="gap-2">
                        <td class="pr-3">6</td>
                        <td class="text-right">A</td>
                    </tr>
                    <tr>
                        <td class="pr-3">6</td>
                        <td class="text-right">AAAA</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">MX</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">TXT</td>
                    </tr>
                    <tr>
                        <td class="pr-3">1</td>
                        <td class="text-right">other</td>
                    </tr>
                </table>
            </div>
        </a>
        <a href="/record" class="bg-slate-100 transition shadow-md shadow-slate-300 hover:shadow-slate-400 grid grid-cols-[1fr_auto] w-full max-w-sm">
            <h2 class="text-xl bg-red-600 text-white font-mono p-4 col-span-full">
                example.com
            </h2>
            <div class="grid grid-cols-subgrid p-2 col-span-2 gap-2">
                <div class="w-full my-auto border-r border-slate-400">
                    <span class="block text-center text-5xl">
                        17
                    </span>
                    <span class="block text-center text-xl">
                        records
                    </span>
                </div>
                <table class="ml-4">
                    <tr class="gap-2">
                        <td class="pr-3">6</td>
                        <td class="text-right">A</td>
                    </tr>
                    <tr>
                        <td class="pr-3">6</td>
                        <td class="text-right">AAAA</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">MX</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">TXT</td>
                    </tr>
                    <tr>
                        <td class="pr-3">1</td>
                        <td class="text-right">other</td>
                    </tr>
                </table>
            </div>
        </a>
        <a href="/record" class="bg-slate-100 transition shadow-md shadow-slate-300 hover:shadow-slate-400 grid grid-cols-[1fr_auto] w-full max-w-sm">
            <h2 class="text-xl bg-red-600 text-white font-mono p-4 col-span-full">
                example.com
            </h2>
            <div class="grid grid-cols-subgrid p-2 col-span-2 gap-2">
                <div class="w-full my-auto border-r border-slate-400">
                    <span class="block text-center text-5xl">
                        17
                    </span>
                    <span class="block text-center text-xl">
                        records
                    </span>
                </div>
                <table class="ml-4">
                    <tr class="gap-2">
                        <td class="pr-3">6</td>
                        <td class="text-right">A</td>
                    </tr>
                    <tr>
                        <td class="pr-3">6</td>
                        <td class="text-right">AAAA</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">MX</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">TXT</td>
                    </tr>
                    <tr>
                        <td class="pr-3">1</td>
                        <td class="text-right">other</td>
                    </tr>
                </table>
            </div>
        </a>
        <a href="/record" class="bg-slate-100 transition shadow-md shadow-slate-300 hover:shadow-slate-400 grid grid-cols-[1fr_auto] w-full max-w-sm">
            <h2 class="text-xl bg-red-600 text-white font-mono p-4 col-span-full">
                example.com
            </h2>
            <div class="grid grid-cols-subgrid p-2 col-span-2 gap-2">
                <div class="w-full my-auto border-r border-slate-400">
                    <span class="block text-center text-5xl">
                        17
                    </span>
                    <span class="block text-center text-xl">
                        records
                    </span>
                </div>
                <table class="ml-4">
                    <tr class="gap-2">
                        <td class="pr-3">6</td>
                        <td class="text-right">A</td>
                    </tr>
                    <tr>
                        <td class="pr-3">6</td>
                        <td class="text-right">AAAA</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">MX</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">TXT</td>
                    </tr>
                    <tr>
                        <td class="pr-3">1</td>
                        <td class="text-right">other</td>
                    </tr>
                </table>
            </div>
        </a>
        <a href="/record" class="bg-slate-100 transition shadow-md shadow-slate-300 hover:shadow-slate-400 grid grid-cols-[1fr_auto] w-full max-w-sm">
            <h2 class="text-xl bg-red-600 text-white font-mono p-4 col-span-full">
                example.com
            </h2>
            <div class="grid grid-cols-subgrid p-2 col-span-2 gap-2">
                <div class="w-full my-auto border-r border-slate-400">
                    <span class="block text-center text-5xl">
                        17
                    </span>
                    <span class="block text-center text-xl">
                        records
                    </span>
                </div>
                <table class="ml-4">
                    <tr class="gap-2">
                        <td class="pr-3">6</td>
                        <td class="text-right">A</td>
                    </tr>
                    <tr>
                        <td class="pr-3">6</td>
                        <td class="text-right">AAAA</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">MX</td>
                    </tr>
                    <tr>
                        <td class="pr-3">2</td>
                        <td class="text-right">TXT</td>
                    </tr>
                    <tr>
                        <td class="pr-3">1</td>
                        <td class="text-right">other</td>
                    </tr>
                </table>
            </div>
        </a>
    </main>
{% endblock content %}